<mat-toolbar class="title">
    <span>Update {{selectedInv.item}}</span>
</mat-toolbar>
<mat-divider></mat-divider>

<p></p>

<div class="update-form" *ngIf="openUpdateForm===true">

    <form (ngSubmit)="onSubmit()">
        <mat-form-field class="form-control-full-width">
            <mat-label for="item">New Units</mat-label>
            <input matInput type="number"  [(ngModel)]="model.units" name="units" #name="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="price">New Price</mat-label>
            <input matInput type="number" [(ngModel)]="model.price" name="price" #name="ngModel">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>For Sale? </mat-label>
            <mat-select name="sale" [(ngModel)]="model.sale">
                <mat-option [value]=true>Yes</mat-option>
                <mat-option [value]=false>No</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="description">New Description</mat-label>
            <textarea matInput type="number" [(ngModel)]="model.description" name="description" #name="ngModel"></textarea>
        </mat-form-field>
        <br>
        <button mat-button color="primary" type="submit">Submit</button>
    </form>

</div>