<h1>Update Inventory</h1>
<div class="update-form" *ngIf="openUpdateForm===true">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="item">New Item Name</label>
            <input type="text"  id="item" required [(ngModel)]="model.item" name="item" #name="ngModel">
            <input type="number"  id="units" required [(ngModel)]="model.units" name="units" #name="ngModel">
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>
</div>