<mat-toolbar class="title">
    <span>My Inventories</span>
</mat-toolbar>
<mat-divider></mat-divider>
<p></p>


<h3>Control</h3>
<div class="control">

    <button mat-raised-button color="primary" routerLink="/create">Create New</button>

    <button mat-raised-button color="warn" (click)="deleteAll()">Delete All</button>

</div>
<mat-divider></mat-divider>
<br>

<h3>Category</h3>
<div class="category">
    <button mat-raised-button color="basic" (click)="filter('All')">All</button>
    <button mat-raised-button color="basic" (click)="filter('Food')">Food</button>
    <button mat-raised-button color="basic" (click)="filter('Electronic')">Electronic</button>
    <button mat-raised-button color="basic" (click)="filter('Book')">Book</button>
    <button mat-raised-button color="basic" (click)="filter('Fashion')">Fashion</button>
    <button mat-raised-button color="basic" (click)="filter('Other')">Other</button>
    
</div>

<mat-divider></mat-divider>
<br>

<h3>Filter</h3>
<div class="sort">
    
    <button class="sort-button" mat-raised-button color="basic" (click)="sortByUnits()">Sort by Units</button>
    <button class="sort-button" mat-raised-button color="basic" (click)="sortByPrice()">Sort by Price</button>
    <mat-slide-toggle (change)="showSale()">Show only for sale</mat-slide-toggle>

</div>
<mat-divider></mat-divider>
<br>


<p></p>


<p></p>

<mat-list class="list" *ngFor="let inv of inventories">
    <mat-card class="list-item"
        [ngStyle]="{'background-color':  (inv.sale === true) ? '#e1f9fa' : ((inv.sale === false) ? '#f2f0f0' : null) }">
       
        <div class="list-item-name">
            <mat-list-item>

                <span matListItemTitle (click)="onSelect(inv,false)"
                    style="font-weight:bold; font-size:20px; font-family:Courier New;">{{inv.item}}</span>
                <span matListItemLine>Units: {{inv.units}}</span>
                <span matListItemLine>Price: {{inv.price}}</span>
                <span matListItemLine>Category: {{inv.category}}</span>

            </mat-list-item>
        </div>

        <mat-card-content class="list-item-button">
            
            <mat-icon type="button" (click)="unitsControl(inv, false)">arrow_downward</mat-icon>
            <p></p>
            <mat-icon type="button" (click)="unitsControl(inv, true)">arrow_upward</mat-icon>
            <p></p>
            <mat-icon type="button" (click)="onSelect(inv,true)">edit</mat-icon>
            <p></p>
            <mat-icon type="button" (click)="deleteOne(inv)">delete</mat-icon>
            <p></p>

        </mat-card-content>




    </mat-card>


</mat-list>

