<mat-toolbar class="title">
    <span>My Inventories</span>
</mat-toolbar>

<mat-divider></mat-divider>
<p></p>
<div class="control">


    <button mat-raised-button color="primary" routerLink="/create">Create New</button>
    <button mat-raised-button color="warn" (click)="deleteAll()">Delete All</button>
</div>
<p></p>


<p></p>

<mat-list class="list" *ngFor="let inv of inventories">
    <mat-card class="list-item">
        <mat-card-content class="list-item-button">
            <mat-icon type="button" (click)="unitsControl(inv, false)">exposure_neg_1</mat-icon>
            <p></p>
            <mat-icon type="button" (click)="unitsControl(inv, true)">exposure_plus_1</mat-icon>
            <p></p>
            
        </mat-card-content>
        <div class="list-item-name">
            <mat-list-item>
                
                <span matListItemTitle (click)="clickItem(inv)" style="font-weight:bold; font-size:20px; font-family:Courier New;">{{inv.item}}</span>
                <span matListItemLine>Units: {{inv.units}}</span>
            </mat-list-item>
        </div>
        <div class="list-item-button">
            <mat-icon type="button" (click)="onSelect(inv)">edit</mat-icon>
            <p></p>
            <mat-icon type="button" (click)="deleteOne(inv)">delete</mat-icon>
            <p></p>
            
        </div>

        

        
    </mat-card>


</mat-list>




<div *ngIf="this.isSelected===true">
    <app-inventory-details [inv]="selectedInv"></app-inventory-details>
</div>