<h1 class="title">Create a New Store</h1>
<div class="category-form">
    
    <form (ngSubmit)="createCategory()" #invForm="ngForm">
        <mat-form-field>
            <mat-label for="name">New Store Name </mat-label>
            <input matInput type="text" [(ngModel)]="newCategory.name" name="name" placeholder="Name">
        </mat-form-field>
        <button mat-button color="primary" type="submit">Create</button>
    </form>

    
</div>

<div class="category">
    <mat-list class="category-item" *ngFor="let cate of category">
        <h1 class="category-name">{{cate.name}}</h1>
        <div class="category-delete">
        <mat-icon (click)="deleteCategory(cate)">delete</mat-icon>
    </div>
    </mat-list>
</div>