
<mat-toolbar class="title">
  <span>Inventory App</span>
</mat-toolbar> 

<mat-divider></mat-divider>

<div class="interface">
<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span>Dashboard</span>
    <button mat-icon-button routerLink="/dashboard" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>My Inventories</span>
    <button mat-icon-button routerLink="/inventories" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Category</span>
    <button mat-icon-button routerLink="/category" class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<div class="container">



  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
</div>